<h1>You are in User! Welcome <%= @user.name %></h1>
<p class=" animated-div"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= button_to "Log out",  destroy_user_session_path, method: :delete %>