@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-color: #040303;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
 
/*HOME---*/
.home-container {

    width: 100%;
    background-color: #272727;
    height: 44vw;
    color: #fffdfd;
    border-radius: 10px;
    margin: 10px auto;

} 
.home-title{
    color: #6EEB83;
    text-decoration: underline;
}

.home-h3 {
    color: #6EEB83;
    text-align: center;
    text-decoration: underline;
}
.home-paragraph{
    font-size: 1.1vw;
    font-weight: 600;
    text-align: center;
    margin: 0 1vw;
    padding: 0;
    color: whitesmoke;
    line-height: 1.7vw;
}




.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

  }

.signup-btn{
    position: relative;
    bottom: 43vw;
    right : 46vw;
    height: 3vw;
    width: 6vw;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #6EEB83;
    color: #0D1D10;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;  
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.signin-btn{
    position: relative;
    bottom: 46vw;
    left : 46vw;
    height: 3vw;
    width: 6vw;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #6EEB83;
    color: #0D1D10;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;  
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}